/* +============================+ */
/* |        footer stuff        | */
/* +============================+ */
/*.copyright.copyright-1 {
  text-align: center;
  background: #175B82;
  color: white;
  padding: 5px 0px;
  height: 18px;
  font-size: 12px;
  border-top: 3px solid #FED96C;
  position: relative;
}*/
.copyright.copyright-1 {
  text-align: center;
  background: transparent;
  color:white ;
  padding: 5px 0px;
  font-size: 12px;
  /* width: 100%; */
  position: relative;
  /*bottom: -32px;*/
  font-family: 'open sans';
}
.footer-link {
  /* border-right: 1px solid #808182; */
  padding-right:5px;
  line-height:1.5;
  padding-left:5px;
  padding-bottom:5px;
}
#faq {
border-right:none !important;
}
