@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/GOTHIC.TTF');
}

body {
    font-family:Century Gothic;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

.wrapper, html
{

    padding:0px;
    margin:0px;
}

.logo
{
    width:30%;
    min-width: 200px;
    display:inline-block;
  vertical-align: middle;
        margin:0px;
        padding:0px;
        background-color: white;
        height:66px;
        margin:0px;
}

.nav-bar2{
    background-color:#a22326;
    position:fixed;
    width:100%;
    z-index:99999;
        /*min-width:1200px; */
}

.logo img
{
    margin-top:10px;
    float:right;
    margin-right:20px !important;
}

.nav2
{

    max-width:69%;
    min-width:800px;
    background-color:#a22326;
    display:inline-block;
    vertical-align: middle;
    height:66px;
    /**background-image: url('images/navcurve.png');*/
    background-repeat: no-repeat;
    margin-left:-5px;
            padding:0px;
}

.nav3
{

    width:100%;
    background-color:#a22326;
    display:inline-block;
    vertical-align: middle;
    height:110px;
     /**background-image: url('images/navcurve.png');*/
    background-size: 20px 110px;
    background-repeat: no-repeat;
    margin-left:-5px;
            padding:0px;
}


.nav2 ul
{
height:66px;
padding:0px;
  vertical-align: top;
margin:0px;
margin-left:30px;
}
.nav2 li
{
    display:inline;
   height:66px;

}

.nav2 li a
{

    display:inline-block;
    color:white;
    font-family:Century Gothic;
    text-decoration:none;
    padding:6px;
    margin-left:10px;
    height:54px;
       text-align: middle;
    line-height:54px;

}

.nav2 li a:hover
{
    background-color:#425468;
}

.nav2 li a.act
{
    background-color:#425468;
}
.nohover hover {
    background-color:transparent !important;
}

.spanish
{
    padding:5px;
    background-color: #ca4145;
    border-width:0px 0px 0px 0px;
    border-style:dotted;
    border-color:white;
    display:inline;
}

.spanish:hover
{
    padding:5px;
    background-color: #425468;
    border-width:0px 0px 0px 0px;
    border-style:dotted;
    border-color:white;
    display:inline;
}


.top-slider img
{
    width:100%;
    min-width:1024px;
    margin-top:66px;
}

.mega-menu,.product-menu
{
    z-index:99999;
    position:fixed;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    background-color: #425468;
    max-width:1000px;
    opacity:.9;
    width:80%;
    height:210px;
    display:none;
    top:66px;


}

.mobile-menu
{
    z-index:99999;
    position:fixed;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    background-color: #425468;
    opacity:.9;
    width:100%;
    display:none;
    top:66px;
padding:20px;


}

.mobile-menu a
{
color:white;

}

.slide
{
   min-width:1024px;
}
.slide img
{
    width:100%;
}

.top-social{
    position:absolute;
    display: inline-block;
top:8px;
margin-left:10px;
    width:200px;
}

.top-social a
{
height:30px !important;
    margin-left:0px !important;

}

.top-social img{
opacity:1;
}

.top-social img:hover{
opacity:.6;
background-color: transparent !important;
}

.top-social a:hover{
background-color: transparent !important;
}

.b-social
{
    width:220px;
    color:white;
     display:inline-block;
        vertical-align: middle;
        text-align: center;
        line-height:66px;
      border-width:0px 2px 0px 2px;
    border-style:dotted;
    border-color:white;
        font-size:12px;
        height:100%;

}

.b-social img
{
            margin-top:15px;
            margin-left:5px;
}

.b-social img{
opacity:1;
}

.b-social img:hover{
opacity:.6;
background-color: transparent !important;
}

.b-social a:hover{
background-color: transparent !important;
}




.footer {
        background-color:#a22326;
        height:55px;
}

.footer-logo
{
        width:30%;
    display:inline-block;
        vertical-align: top;
        margin:0px;
        padding:0px;

        margin:0px;
}

.footer-logo img
{
    margin-top:10px;
    float:right;
}

.footer-links
{
    width:40%;
    color:white;
     display:inline-block;
        vertical-align: top;
        padding-left:50px;
        padding-top:20px;
        font-size:12px;

}

.footer-social
{
    width:220px;
    color:white;
     display:inline-block;
        vertical-align: middle;
        text-align: center;
        line-height:66px;
      border-width:0px 2px 0px 2px;
    border-style:dotted;
    border-color:white;
        font-size:12px;
        height:100%;

}

.footer-social img
{
            margin-top:15px;
            margin-left:5px;
}

.slide1bg
{
    background-image: url('images/opportunity.png');
    background-repeat: no-repeat;
background-size: 1400px auto;
    background-position: center;

        max-width:1024px;
        min-width:1024px;


}
.slide5bg
{
    
    background-repeat: no-repeat;
    background-size: 200px;
    width:1000px;
    min-height:550px;



}
.slide5bg2
{
    background-image: url('images/ourstory.png');
    background-repeat: no-repeat;
    background-size: 350px;
    width:1000px;
    min-height:750px;



}

#slide-1
{

     background-image: url('images/opportunitybg.jpg');
}


#slide-2
{

         background-image: url('images/opportunity2.jpg');
         background-position:center;

}

#slide2c {

    width:100%;
   color:white;


    padding-top:30px;


    height:550px;

}


#s2c {
    display:none;
    width:100%;
}

.largetext {
    font-size: 35px;

}

#large2 {
    display:inline-block;
    position:relative;

color:white;
    border-style:dotted;
    border-color:white;
    border-width:2px 0px 2px 0px;
    margin-top:0%;
   padding:5px;


}

#small2 {

    display:inline-block;
    position:relative;
    padding:10px;
color:white;
}


#slide-4
{

     background-image: url('images/coffee2.jpg');
    background-size: cover;
background-position: center;
     background-repeat: no-repeat;
     color:white;
     min-width:1024px;
     height:550px;

}

#slide-4c
{
max-width:1024px !important;

}

.foursteps {
    display:none;
       font-size: 35px;
}


#slide-8
{

     background-image: url('images/getstartedsp2.jpg');
         background-position: center;
         background-repeat:repeat-x;
     min-height:450px;
     color:white;

}

#box {
        display:none;
}

#usa {
        display:none;
        position:relative;
        margin-top:-100px;
        margin-left:-90%;
        width:150px;
}
#box img
{

    position:relative;
    margin-left:auto;
    margin-right:auto;
    margin-top:80px;
    margin-left:150px;

}

#gs {
    display:none;

cursor:pointer;
}


.smwhite {
    color:white;
    font-size:20px;
    text-align: left;

}







#slide-5
{

     background-image: url('images/slide5bg.jpg');
     background-size: cover;
         background-position: center;
     height:800px;
     overflow-y: hidden;
     color:white;
     background-repeat: no-repeat
     min-width: 1024px;

}



#slide-7
{


     background-size: 100%;
         background-position: 200px 0px;
     min-width:100%;
     height:800px;

     overflow-y: hidden;
     color:white;
     background-repeat: no-repeat

}

.mega-menu,.product-menu
{
    padding:10px;
    color:white;
}

.mega-menu a,.product-menu a
{
    color:white;
    text-decoration:none;
}

.mega-menu a:hover,.product-menu a:hover
{
    color:#dadada;
    text-decoration:none;
}


.system
{
    color:black;
    display:block;
    font-size:30px;
}

.compplan
{
    color:#a09503;
    display:block;
    font-size:30px;
}

#slide-6 td{
    color:#a09503;
}

@media (max-width: 1600px) {
  .nav li a{
    margin-left:10px;
  }
  .logo {
      width:20%;
      background-color: white;
  }
}


#mapc {

    display:none;
    position:relative;
   
    width:800px;
    color:#d26900;
    left:50%;
margin-top:250px;
margin-left:-450px;
    border-color:#666666;
}

.mapbold {
    font-size:30px;
    font-weight:bold;
    color:#aa0000;
    display:block;
   text-transform: uppercase;
        padding-top: 5px;
    padding-bottom:5px;
    border-style: dotted;
    border-width:0px 0px 0px 0px;
}

   .nav-bar3 {
       display:none;
       z-index:999999 !important;
    position:fixed;
   }

   #menubutton {
       cursor:pointer;
   }

@media screen and (max-width: 1250px) {

   .nav-bar2 {
       display:none;
   }

   .nav-bar3 {
       display:block;
           background-color:#a22326;
                  z-index:999999 !important;
   }

   .slick-initialized .slick-slide
   {
     margin-top:-70px;
   }

.ganocafe5 {
    padding-top: 94px !important;
}

.top-slider img {
    margin-top:180px !important;
}

}

.mobile-menu
{
    margin-top:44px;
z-index:100 !important;
    
    
}

.mobile-menu a {
font-size:50px;
}    

.lSSlideOuter .lSPager.lSpg {
    display:none;
}

.spanish2 {
    padding:2px;
    background-color: #ca4145;
    color:white;
    margin-bottom:3px;
}

.sline1{
    display:inline-block;
    width:800px;
    height:10px;
    border-width: 0px;
    border-bottom:2px;
    border-style:dotted;
    border-color:#aa0000;
}

.sline2{
    display:inline-block;
    width:800px;
    height:10px;
    border-width: 0px;
    border-top:2px;
    border-style:dotted;
    border-color:#aa0000;
}

.gano2 
{
    min-height:1000px;
}

.event-description
{
    background-color: white;
    z-index:999;
    position:relative;
}

.event-feed-img
{
    margin-bottom:10px;
    width:295px;
    height:197px;
}    

.social{
    margin:3px;
}






